#header .title {
  background-image: url('monash-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100%;
  padding: 20px;
  margin: 0;
  color: white;
  
}



h2 {
  color:  darkblue;
}   


